html {
  scroll-behavior: smooth;
}

hr {
  background-color: grey;
}

.nav-item {
  /* font-family: 'Abel', sans-serif; */
  padding: 0 5%;
}

.light-nav {
  background-color: #fff;
}

.night {
  background-color: #141D26;
  color: grey;
}

.light {
  background-color: #fff;
  color: black;
}

.night-day {
  margin: auto;
  padding: 2% 0;
  color: #FFD700;
}

.navbar {
  text-align: center;
}

#introid {
  padding-bottom: 0%;
}

.row-intro {
  padding: 0 5%;
}

.intro {
  /* margin: auto; */
  padding: 5% 10%;
  text-align: center;
}

.dp {
  border-radius: 25px;
  width: 50%;
}

.intro-header {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 7%;
}

@media (max-width: 1000px) {
  .intro-p {
    font-size: 1.5rem;
  }
}

h1 {
  color: #37E5C2;
}

.card {
  box-shadow: 0 2px 5px 0 #808080;
}

.socials {
  margin: 5% 2%;
  color: #666666;
}

.socials:hover {
  transform: translate(0, -3px);
}

.fa-github-light:hover {
  color: #000;
}

.fa-github-dark:hover {
  color: #fff;
}

.fa-linkedin:hover {
  color: #0A66C2;
}

.fa-instagram:hover {
  color: #fb3958;
}

.fa-spotify:hover {
  color: #1DB954;
}

.fa-circle-down {
  margin: auto;
  color: #37E5C2;
  animation-name: updown;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.fa-circle-down:hover {
  color: #1acba8;
  text-decoration: none;
}

/* projects */
#projects {
  text-align: center;
  padding: 10%;
  padding-bottom: 0;
}

.project-card {
  width: 70%;
  text-align: left;
  margin: 3% auto;
}

.night-card:hover {
  box-shadow: 0 0 5px 0px #fff;
}

.light-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
  color: inherit;
}

/* highlights */
#highlights {
  text-align: center;
  padding: 10%;
  padding-bottom: 0;
}

.carousel-item {
  padding: 5%;
}

.active-image {
  width: 50%;
  border-radius: 20px;
}

.carousel-caption {
  margin-bottom: 5%;
}

.mobile-caption {
  visibility: hidden;
}

@media (max-width: 1000px) {
  .mobile-caption {
    margin-top: 2%;
    visibility: visible;
    color: grey;
  }
}

.control-buttons {
  color: #37E5C2;
}

/* music */
#music {
  text-align: center;
  padding: 10%;
}

.music-row {
  margin: auto;
}

.artist {
  width: 75%;
  /* border-radius: 20px; */
}

@keyframes updown {
  50% {
    transform: translate(0px, 25px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.card-columns {
  width: 75%;
  margin: auto;

  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.spotify-link {
  text-decoration: none;
  color: #F0FFFF;
}

.spotify-link:hover {
  text-decoration: none;
  color: #F0FFFF;
}

.genre {
  text-align: left;
}

.hide {}

@media (max-width: 600px) {
  .hide {
    display: none;
  }
}

/* footer */
.link {
  text-decoration: none;
  color: grey;
}

.link:hover {
  text-decoration: none;
  color: grey;
}

.top-button {
  width: 35%;
  margin: auto;
}

.footer-socials {
  margin: 2% 3% 3%;
}

.connect {
  margin-top: 10%;
}

#footer {
  text-align: center;
}

/* highlights */
.image-container-h {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
}

/* Define the styles for the images */
.image-container-h img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  /* margin: 10px;
  margin-top: 20%; */


}

/* Define the hover effect for the images */
/* .image-container-h:hover img {
  transform: scale(1.2);
} */
.test-img:hover {
  transform: scale(1.2);
}
.test-img {
  width: 100%;
}
